/__pycache__
/.git
/.vscode
/autozoom.py
/beuh.py
/emails.json
/emailslicer.py
/first-aid-kit.png
/glass_yellow.png
/harry.txt
/man.png
/miecraft.jpg
/newfile.py
/none.py
/notifysoft.py
/osmoduleheh.py
/clockpy.py
/pygamelol.py
/randomwikiart.py
/Sprite-0001.ase
/this.jpg

